<div class="jumbotron mt-4">
   <h1 class="display-4">NGRX Course</h1>
   <p class="lead"><a target="blank"
         href="https://www.youtube.com/channel/UCqtKLBlLNC2Qn-ZfRPaFRZQ">Find this cource on YouTube</a>
   </p>
   <p><a target="blank"
         href="https://ngrx.io/docs">NGRX Docs</a>
   </p>
   <p><a target="blank"
         href="">Github</a>
   </p>
   <hr class="my-4">
   <a class="btn btn-primary btn-lg"
      [routerLink]="['product/list']"
      role="button">View All Products</a>
</div>
<app-course-list></app-course-list>