<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Course List</h6>

    <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded"
             width="32"
             height="32"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice"
             focusable="false"
             role="img"
             aria-label="Placeholder: 32x32">
            <title>Placeholder</title>
            <rect width="100%"
                  height="100%"
                  fill="#007bff"></rect><text x="50%"
                  y="50%"
                  fill="#007bff"
                  dy=".3em">32x32</text>
        </svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Video 1</strong>
                <a href="https://ngrx.io/guide/store"
                   target="blank">NGRX Store</a>
            </div>
            <span class="d-block">Use NGRX Store and NGRX Schematics</span>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded"
             width="32"
             height="32"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice"
             focusable="false"
             role="img"
             aria-label="Placeholder: 32x32">
            <title>Placeholder</title>
            <rect width="100%"
                  height="100%"
                  fill="#e83e8c"></rect><text x="50%"
                  y="50%"
                  fill="#e83e8c"
                  dy=".3em">32x32</text>
        </svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Video 2</strong>
                <a href="https://ngrx.io/guide/store/actions"
                   target="blank">NGRX Store Actions</a>
            </div>
            <span class="d-block">NGRX Store - Create Actions</span>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded"
             width="32"
             height="32"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice"
             focusable="false"
             role="img"
             aria-label="Placeholder: 32x32">
            <title>Placeholder</title>
            <rect width="100%"
                  height="100%"
                  fill="#6f42c1"></rect><text x="50%"
                  y="50%"
                  fill="#6f42c1"
                  dy=".3em">32x32</text>
        </svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Video 3</strong>
                <a href="https://ngrx.io/guide/store-devtools"
                   target="blank">NGRX Store-Devtools</a>
            </div>
            <span class="d-block">Use NGRX Store-Devtools</span>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded"
             width="32"
             height="32"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice"
             focusable="false"
             role="img"
             aria-label="Placeholder: 32x32">
            <title>Placeholder</title>
            <rect width="100%"
                  height="100%"
                  fill="#007bff"></rect><text x="50%"
                  y="50%"
                  fill="#007bff"
                  dy=".3em">32x32</text>
        </svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Video 4</strong>
                <a href="https://ngrx.io/guide/store/reducers"
                   target="blank">NGRX Store Reducers</a>
            </div>
            <span class="d-block">NGRX Store - Create Reducer</span>
        </div>
    </div>

    <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded"
             width="32"
             height="32"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice"
             focusable="false"
             role="img"
             aria-label="Placeholder: 32x32">
            <title>Placeholder</title>
            <rect width="100%"
                  height="100%"
                  fill="#e83e8c"></rect><text x="50%"
                  y="50%"
                  fill="#e83e8c"
                  dy=".3em">32x32</text>
        </svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Video 5</strong>
                <a href="https://ngrx.io/guide/store/selectors"
                   target="blank">NGRX Store Selectors</a>
            </div>
            <span class="d-block">NGRX Store - Create Selector</span>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded"
             width="32"
             height="32"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice"
             focusable="false"
             role="img"
             aria-label="Placeholder: 32x32">
            <title>Placeholder</title>
            <rect width="100%"
                  height="100%"
                  fill="#6f42c1"></rect><text x="50%"
                  y="50%"
                  fill="#6f42c1"
                  dy=".3em">32x32</text>
        </svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Video 6</strong>
                <a href="https://ngrx.io/guide/effects"
                   target="blank">NGRX Effects</a>
            </div>
            <span class="d-block">Use NGRX Effects</span>
        </div>
    </div>

    <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded"
             width="32"
             height="32"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice"
             focusable="false"
             role="img"
             aria-label="Placeholder: 32x32">
            <title>Placeholder</title>
            <rect width="100%"
                  height="100%"
                  fill="#007bff"></rect><text x="50%"
                  y="50%"
                  fill="#007bff"
                  dy=".3em">32x32</text>
        </svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Video 7</strong>
                <a href="https://ngrx.io/guide/store/reducers"
                   target="blank">NGRX Entity</a>
            </div>
            <span class="d-block">Video 9 NGRX Entity Setup</span>
        </div>
    </div>

</div>